@import url('../../../../styles.scss');
.root {
    text-align: center;
    background-color: var(--primary-bg-color);
    height: 100%;
    padding: 2rem;
}

.question {
    color: var(--primary-text-color);
    text-align: justify;
    font-weight: 500;
    margin: 2rem 0;
}