@use '../../../../styles.scss';

.question-text {
    color: styles.$primary-text-color;
    text-align: justify;
    font-weight: 500;
    margin: 2rem 0;
}

hr {
    margin: 1rem 0;
    color: styles.$secondary-text-color;
}