@use '../../../../styles.scss';

.root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    background-color: styles.$primary-color-main;
}

header {
    margin: 2rem;
    color: styles.$primary-color-contrast-text;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;

    .back-icon {
        cursor: pointer;
        margin-right: 1rem;
    }
}