<div class="root">
    <header>
        <i-feather *ngIf='!showBody' class="icon" name='chevron-right' (click)='toggleShowBody()'></i-feather>
        <i-feather *ngIf='showBody' class="icon" name='chevron-down' (click)='toggleShowBody()'></i-feather>
        <input (input)='setQuizQuestion($event.target.value)' class="input" type="text" placeholder="Quiz Question" />
        <i-feather (click)='addOption()' class="icon plus-icon" name='plus'></i-feather>
        <i-feather (click)='deleteItem()' class="icon close-icon" name='x'></i-feather>
    </header>
    <main *ngIf='showBody'>
        <radio-option *ngFor='let option of quizQuestion.quizOptions' [option]='option'
            (updateOptionChange)='updateOption($event)' (deleteOptionChange)='deleteOption($event)'>
        </radio-option>
    </main>
</div>