/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-bg-color: #252c4a;
    --primary-text-color: #ffffff;
    --secondary-text-color: #919ac3;
    --option-border-color: #21486a;
    --primary-button-color: #107eeb;
}