<div class="root">
    <header>
        <div class="back" (click)='takeQuiz.emit(false)'>
            <i-feather class="back-icon" name='arrow-left'></i-feather>
        </div>
        <div class="title">Take Quiz</div>
    </header>
    <main>
        <app-quiz-start (quizWrapper)='startQuiz($event)' *ngIf='quizStage === QuizStage.QUIZ_START'></app-quiz-start>
        <app-quiz-body [quizWrapper]='quizWrapper' *ngIf='quizStage === QuizStage.QUIZ_BODY'></app-quiz-body>
        <app-quiz-result *ngIf='quizStage === QuizStage.QUIZ_RESULT'></app-quiz-result>
    </main>
</div>