@use '../../../../styles.scss';

.root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    background-color: styles.$primary-color-main;
}

header {
    margin: 2rem;
    color: styles.$primary-color-contrast-text;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;

    .back-icon {
        cursor: pointer;
        margin-right: 1rem;
    }
}

main {
    position: absolute;
    top: 6rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    background-color: styles.$container-color-main;
    border-top-left-radius: styles.$container-border-radius;
    border-top-right-radius: styles.$container-border-radius;
    border-top: solid 1rem transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid 1rem transparent;
}

hr {
    color: #dddddd;
    margin: 1rem 0.5rem;
}

::ng-deep .error {
    background-color: styles.$error-color-background;
    color: styles.$error-color-contrast-text;
}