<header (click)='toggleShowBody()'>
    <i-feather *ngIf='!showBody' class="icon" name='chevron-right'></i-feather>
    <i-feather *ngIf='showBody' class="icon" name='chevron-down'></i-feather>
    <div class="title"><b>Step 2:</b> Add some quiz questions</div>
</header>
<main *ngIf='showBody'>
    <draft-quiz-item *ngFor='let item of quizItems' [quizItem]='item' (updateQuizItemChange)='updateQuizItem($event)'
        (deleteQuizItemChange)='deleteQuizItem($event)'></draft-quiz-item>
    <custom-button (buttonClick)='addQuizItem()' [buttonText]='"Add Quiz Item"' [variant]='"primary"'></custom-button>
</main>