<header (click)='toggleShowBody()'>
    <i-feather *ngIf='!showBody' class="icon" name='chevron-right'></i-feather>
    <i-feather *ngIf='showBody' class="icon" name='chevron-down'></i-feather>
    <div class="title"><b>Step 2:</b> Add some quiz questions</div>
</header>
<main *ngIf='showBody'>
    <draft-quiz-item *ngFor='let item of draftQuizItems' [draftQuizItem]='item' (setItem)='updateQuizItem($event)'
        (deleteDraftQuizItem)='deleteQuizItem($event)'></draft-quiz-item>
    <button class="button" (click)='addQuizItem()'>Add Quiz Item</button>
</main>