@use '../../../../styles.scss';

.root {
    margin: 1rem;
    background-color: styles.$primary-color-light;
    padding: 1rem;
    border-radius: styles.$container-border-radius;
    cursor: pointer;
    box-sizing: border-box;
}