@use '../../../../styles.scss';

.add-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: styles.$secondary-color-main;
    border-radius: 50%;
    cursor: pointer;
}

.add-button:hover {
    background-color: styles.$secondary-color-dark;
}

.add-icon {
    margin-top: 0.7rem;
    margin-left: 0.8rem;
    color: styles.$secondary-color-contrast-text;
}