@use '../../../../styles.scss';

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.add-button {
    position: fixed;
    bottom: 3.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: styles.$secondary-color-main;
    border-radius: 50%;
    cursor: pointer;
}

.add-button:hover {
    background-color: styles.$secondary-color-dark;
}

.add-icon {
    margin-top: 0.7rem;
    margin-left: 0.8rem;
    color: styles.$secondary-color-contrast-text;
}

@media (min-width: styles.$m-size) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media (min-width: styles.$l-size) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }
}
