@use '../../../../styles.scss';

.container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: styles.$m-size) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media (min-width: styles.$l-size) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
    }
}
