<div class="background"></div>
<app-create-quiz-main *ngIf='createQuiz' (createQuiz)='loadCreateQuiz($event)'></app-create-quiz-main>
<app-take-quiz-main *ngIf='takeQuiz' (takeQuiz)='loadTakeQuiz($event)'></app-take-quiz-main>
<header>
    <div class="title">{{ header | titlecase }}</div>
    <div class="settings">
        <i-feather name="settings"></i-feather>
    </div>
</header>
<main>
    <app-overview *ngIf='currentPage === PageDisplay.OVERVIEW' (createQuiz)='loadCreateQuiz($event)'></app-overview>
    <app-explore *ngIf='currentPage === PageDisplay.EXPLORE' (takeQuiz)='loadTakeQuiz($event)'></app-explore>
    <app-account *ngIf='currentPage === PageDisplay.ACCOUNT'></app-account>
</main>
<footer>
    <app-navbar (navItem)='changePage($event)'></app-navbar>
</footer>