@use '../../../../styles.scss';

header {
    font-weight: bold;
    color: styles.$primary-color-contrast-text;
}

section {
    color: #eeeeee;
}

footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.stat {
    margin-right: 1rem;
}

.icon {
    margin-right: 0.2rem;
    width: 1rem;
}

.icon, .icon-number {
    color: #eeeeee;
}