@import url('../../../../styles.css');

.question-number-section {
    text-align: left;
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
}

.total-questions {
    font-size: 0.7rem;
    font-weight: normal;
}
