@use '../../../../styles.scss';

.question-number-section {
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
    color: styles.$secondary-text-color;
}

.total-questions {
    font-size: 0.7rem;
    font-weight: normal;
}
