<div class="root">
    <header>
        <div class="question-number-container">
            Question 1<span class="total-questions">/10</span>
        </div>
        <hr />
        <div class="question">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, officiis eaque! Minima animi placeat nam
            soluta
            vel fuga, eaque facilis.
        </div>
    </header>
    <main>
        <app-quiz-option></app-quiz-option>
        <app-quiz-option></app-quiz-option>
        <app-quiz-option></app-quiz-option>
        <app-quiz-option></app-quiz-option>
    </main>
    <footer>
        <button class="button previous-button">Previous</button>
        <custom-button class="button" [variant]='"primary"' [buttonText]='"Next"'></custom-button>
    </footer>
</div>