<div class="root">
    <header>
        <div class="question-number-container">
            Question {{currentQuestionIndex + 1}}<span class="total-questions">/{{quizQuestions.length}}</span>
        </div>
        <hr />
        <div class="question">{{quizQuestions[currentQuestionIndex].question}}</div>
    </header>
    <main>
        <app-quiz-option *ngFor='let option of quizQuestions[currentQuestionIndex].quizOptions' [text]='option.text'>
        </app-quiz-option>
    </main>
    <footer>
        <button class="button previous-button" (click)='previous()'>Previous</button>
        <custom-button class="button" (buttonClick)='next()' [variant]='"primary"' [buttonText]='"Next"'>
        </custom-button>
    </footer>
</div>