<div class="background"></div>
<div class="root">
    <div class="header">
        <i-feather class="logo" name="codepen"></i-feather>
        <div class="title">Quizzically</div>
    </div>
    <div class="container">
        <form class="form">
            <input class="textfield" type="text" placeholder="Username" />
            <input class="textfield" type="password" placeholder="Password" />
            <button class="button">Login</button>
        </form>
        <div class="message">
            Don't have an account? <span class="link">Register now!</span>
        </div>
    </div>
</div>