<div class="container">
    <form class="form">
        <custom-text-input [(value)]='username' [placeholder]='"Username"'></custom-text-input>
        <custom-text-input [(value)]='password' [placeholder]='"Password"' [type]='"password"'></custom-text-input>
        <custom-button (buttonClick)='login()' [variant]='"secondary"' [buttonText]='"LOGIN"'></custom-button>
    </form>
    <div class="message">
        Don't have an account? <span class="link" (click)='loadForm()'>Register now!</span>
    </div>
</div>