@use '../../../../styles.scss';

.container {
    text-align: center;
    background-color: styles.$container-color-main;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: styles.$container-border-radius;
    padding: 2.5rem;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
}

.message {
    font-size: 0.9rem;
    margin-top: 2.5rem;
}

.link {
    color: styles.$secondary-color-main;
    font-weight: bold;
    cursor: pointer;
}
