<div class="root">
    <section class="question-number-section">
        <span class="current-question">Question 1</span>
        <span class="total-questions">/10</span>
    </section>
    <section class="question">
        What attraction in Montreal is one of the largest in the world?
    </section>
    <section class="options-container">
        <div class="option">The Botanical Gardens</div>
        <div class="option">The Science Museum</div>
        <div class="option">The Olympic Stadium</div>
    </section>
    <button mat-raised-button color="accent">Primary</button>
</div>