<header (click)='toggleShowBody()'>
    <i-feather *ngIf='!showBody' class="icon" name='chevron-right'></i-feather>
    <i-feather *ngIf='showBody' class="icon" name='chevron-down'></i-feather>
    <div class="title"><b>Step 1:</b> Fill in quiz information</div>
</header>
<main *ngIf='showBody'>
    <custom-text-input [(value)]='quizInformation.title' (valueChange)='onQuizInformationChange()'
        [placeholder]="'Quiz Title'"></custom-text-input>
    <custom-text-input [(value)]='quizInformation.description' (valueChange)='onQuizInformationChange()'
        [placeholder]="'Quiz Description'"></custom-text-input>
</main>