@use '../../../../styles.scss';

header {
    margin: 1rem;
    color: #333333;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .icon {
        width: 1.2rem;
        margin-right: 0.5rem;
    }
}

main {
    margin: 0 2.5rem;

    .input {
        width: 100%;
        background-color: styles.$container-color-secondary;
        padding: 1rem;
        border-radius: styles.$container-border-radius;
        border: transparent;
        margin-bottom: 1rem;
    }
}
