<header (click)='toggleShowBody()'>
    <i-feather *ngIf='!showBody' class="icon" name='chevron-right'></i-feather>
    <i-feather *ngIf='showBody' class="icon" name='chevron-down'></i-feather>
    <div class="title"><b>Step 1:</b> Fill in quiz information</div>
</header>
<main *ngIf='showBody'>
    <input (input)='setQuizTitle($event.target.value)' class="input" type="text" placeholder="Quiz Title" />
    <input (input)='setQuizDescription($event.target.value)' class="input" type="text"
        placeholder="Short Description" />
</main>